<!-- this page uses HTML -->

	<H1>Signup to MyFeelings</H1>

	<form method="POST" action="/create-user">
		<label>Email</label>
		<input type="text" name="[user]email">

		<label>Password</label>
		<input type="text" name="[user]password">

		<!-- type="password" hides the text -->

		<input type="submit">
	</form>

